<template>
    <footer class="foot">
    </footer>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import func from '@/func/index'
@Component({})
export default class Foot extends Vue {
	@Prop()
	private created() {}
	private mounted() {}
}
</script>
<style scoped>
</style>