<template>
    <header class="hhehe">
    </header>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import func from '@/func/index'
@Component({})
export default class hhehe extends Vue {
	@Prop()
	private created() {}
}
</script>
<style scoped>
</style>