<template>
    <div class="test">
        <span v-text="say"></span>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator'
import func from '@/func/index'

@Component({})
export default class Begin extends Vue {
	@Prop()
	private say?: number
	private count: number = 1
	private noted: boolean = false
	private get some(): number {
		return this.$store.state.test.some
	}

	private created() {
		if (!this.noted) {
			// func.notify('new project start~')
		}
		this.noted = true
	}
	private mounted() {
		setInterval(() => {
			this.count++
		}, 2000)
	}
	@Watch('count', {deep: true})
	saycount(v: any, v0: any) {
		console.log(v, v0)
	}
}
</script>

<style scoped>
</style>

