<template>
    <div class="test">
        <c-begin say="666" />
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator'
import Begin from './Begin.vue'
@Component({
	components: {
		'c-begin': Begin,
	},
})
export default class Home extends Vue {
	created() {}
}
</script>
