/* 模式 */
.flex {
	display: flex;
}
.ilbk {
	display: inline-block;
}
.die {
	display: none;
}
/* 定位 */
.pos-re {
	position: relative;
}
.pos-ab {
	position: absolute;
}
.pos-fx {
	position: fixed;
}

/* 盒模型 */
.bb {
	box-sizing: border-box;
}
/* 大小 */
.w1 {
	width: 100%;
}
.h1 {
	height: 100%;
}
/* 内部排列 */
.fcc {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fcb {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fcbc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.t-c {
	text-align: center;
}

/* 动画 */
.tran {
	transition: all 0.3s linear;
}
.tran:hover {
	transition: all 0.3s linear;
}
/* 特殊 */
.cur {
	cursor: pointer;
}
.ns {
	user-select: none;
}
/* 文字 */
.f22 {
	line-height: 32px;
	font-size: 22px;
}
.f28 {
	line-height: 38px;
	font-size: 28px;
}
.f34 {
	line-height: 44px;
	font-size: 34px;
}
.f40 {
	line-height: 50px;
	font-size: 40px;
}
